body {
    margin: 0;
    background-color: blue;
    height: 100vh;
    color: white;
    font-style: tahoma;
}
h1 {
   text-align: center;
   font-style: tahoma;}

button {
    color: red;
}